<div class="container__filter">
  <input type="text" class="container__input" [formControl]="filter" placeholder="Filter boats...">
  <div style="padding: 8px;"><div style="background-color: #1abc9c; border-radius: 9999px; height: 16px; width: 16px;"></div></div>
</div>
