.container__filter {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 3px;
}

.container__input {
  border-color: transparent;
  flex: 1;
}
