<div class="cards">
  <div class="cards__item"  *ngFor="let boat of boats">

    <div class="card__cover">
        {{boat.categorie}}
    </div>

    <!-- Content -->
    <div class="card__content">
        <div class="boat__nom">
          <a href="" (click)="detailBoat(boat?.id)">{{boat.nom}}</a>
        </div>
        <div class="boat__propriete">{{boat.propriete}}</div>
    </div>

  </div>
</div>

