.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.cards__item {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @media screen and (max-width: 425px) {
    flex-basis: 100%;
  }
}

.card__cover {
  height: 100px;
  border-width: 1px;
  border-color: #dadada;
  border-style: solid;
  border-radius: 5px 5px 0 0;
  background: #1abc9c;
  color: white;
  font-size: large;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.card__content {
  flex: 1;
  padding: 0.5rem;
  border-width: 0 1px 1px 1px;
  border-color: #dadada;
  border-style: solid;
  border-radius: 0 0 5px 5px;
  margin: 0 0.5rem;
}

.boat__nom {
  font-weight: 500;
}
.boat__propriete {
  font-size: small;
}
