h3 {
  font-weight: lighter;
  margin-bottom: 0.5rem;
}
button {
  background: #1abc9c;
  color: white;
  border-radius: 3px;
  border: 0;
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  &:disabled {
    background-color: #d3d3d3;
  }
}
input {
  border: 1px solid #dadada;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 3px;
}
.form__line {
  margin-bottom: 1rem;
}

.label {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  margin-right: 0.5rem;
}

.label__input {
  display: none;
}

.label__circle {
  border: 1px solid #dedede;
  border-radius: 9999px;
  margin-right: 8px;
  padding: 4px;
}

.label__radio {
  border-radius: 9999px;
  height: 16px;
  width: 16px;
  background-color: transparent;
  &.selected {
    background-color: #1abc9c;
  }
}

.label__radio--selected {
  background-color: #1abc9c;
}
