<form [formGroup]="formBoat" (submit)="submitBoat()">

<ng-container *ngIf="activeStep === 0">
  <h3>{{steps[activeStep]?.label}}</h3>

 <div class="form__line">
   <!-- TODO: extract as component -->
    <label for="particulier" class="label">
      <input id="particulier" type="radio" value="particulier" name="propriete" formControlName="propriete" class="label__input">
      <div class="label__circle">
          <div class="label__radio" [ngClass]="{'selected':propriete?.value === 'particulier'}"></div>
      </div>
      Particulier
    </label>
    <label for="professionel" class="label">
      <input id="professionel" type="radio" value="professionel" name="propriete" formControlName="propriete" class="label__input">
      <div class="label__circle">
          <div class="label__radio" [ngClass]="{'selected':propriete?.value === 'professionel'}"></div>
      </div>
      Professionel
    </label>
 </div>



 <h3><label for="nom">Nom du bateau</label></h3>
  <div class="form__line">
    <input type="text" name="nom" formControlName="nom">
  </div>

 <button [id]="'btn_step__'+activeStep" [disabled]="nom?.errors?.required || propriete?.errors?.required" (click)="goToStep()">Suivant</button>
</ng-container>

<ng-container *ngIf="activeStep === 1">
  <h3>{{steps[activeStep]?.label}}</h3>
  <div class="form__line">
    <label  *ngFor="let cat of categories;" for="{{cat}}" class="label">
      <input [id]="cat" type="radio" [value]="cat" name="categorie" formControlName="categorie" class="label__input">
      <div class="label__circle">
          <div class="label__radio" [ngClass]="{'selected':categorie?.value === cat}"></div>
      </div>
      {{cat}}
    </label>
  </div>

  <button (click)="goToStep('prev')">Précédent</button><button [disabled]="categorie?.errors?.required" (click)="goToStep()">Suivant</button>
</ng-container>

<ng-container *ngIf="activeStep === 2">
  <h3>{{steps[activeStep]?.label}}</h3>
  <div class="form__line">
    <input type="number" name="longueur" formControlName="longueur">
    <label for="longueur">Longueur</label>
  </div>
  <button (click)="goToStep('prev')">Précédent</button><button [disabled]="longueur?.errors?.required" (click)="goToStep()">Suivant</button>
</ng-container>

<ng-container *ngIf="activeStep === 3">
  <h3>{{steps[activeStep]?.label}}</h3>
  <div class="form__line">
    <span>Annexe</span>
    <div>
      <input id="annexe_ok" type="radio" [value]="true" name="annexe" formControlName="annexe">
      <label for="annexe_ok">Oui</label>
  </div>
  <div>
      <input id="annexe_ko" type="radio" [value]="false" name="annexe" formControlName="annexe">
      <label for="annexe_ko">Non</label>
  </div>
</div>

  <button (click)="goToStep('prev')">Précédent</button><button [disabled]="annexe?.errors?.required" (click)="goToStep()">Suivant</button>
</ng-container>

<ng-container *ngIf="activeStep === 4">
  <h3>{{steps[activeStep]?.label}}</h3>
  <div class="form__line">
    <ng-container *ngFor="let item of formBoat.value | keyvalue">
      <dl class="resume__boat" *ngIf="item.value">
        <dt>{{item.key}}</dt>
        <dd>{{item.value}}</dd>
    </dl>
    </ng-container>
  </div>


  <button type="submit" >Valider</button>
</ng-container>


</form>
