<header class="header">
  <h1 class="navbar__title">{{title}}</h1>
  <ul>
    <li *ngFor="let item of items">
      <a [id]="'navbar_link__'+item.url" [routerLinkActive]="['active']" [routerLink]="item.url">{{item.label}}</a>
    </li>
  </ul>
</header>
