.header {
  /* Stick to the top */
  position: sticky;
  top: 0;
  background: white;
  height: 3rem;
  border-bottom: 1px solid #dadada;
  margin-bottom: 1rem;
}
.navbar__title {
  font-weight: lighter;
  display: inline;
  padding-right: 1rem;
  @media screen and (max-width: 425px) {
      font-size: small;
      display: block;
  }
}
ul {
  padding: 0;
}
ul, li {
  list-style: none;
  display: inline;
}
li {
  margin-right: 0.5rem;;
  padding: 0.5rem;
  &:hover {
    background: #f1f1f1;
  }
  a.active {
    color: #dd4d93;
  }
  @media screen and (max-width: 425px) {
    font-size: small;
    padding: 0.2rem;
  }
}
