.creation__title {
  font-weight: lighter;
  position:relative;
  &:after {
    content: "";
    width: 30%;
    height: 2px;
    background: #dd4d93;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  @media screen and (max-width: 425px) {
    font-size: 1.2rem;
  }
}
.container {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 425px) {
      flex-direction: column-reverse;
  }
}

.container__half {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container__image {
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 100vh;
  width: 100%;

  /* Background */
  background: url('../../assets/archipel-des-glenan.jpg') center center / cover no-repeat;

}
