<div class="container">

  <div class="container__half">
    <div class="container__form">
      <h2 class="creation__title">Louer son bateau sur Click&Boat</h2>
      <app-form-boat (formSubmit)="addBoat($event)"></app-form-boat>
    </div>

  </div>

  <div class="container__half container__image">
      <div class="">...</div>
  </div>
</div>

