/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0 1rem;
  margin: 0 auto;
}
a {
  color: #383c40;
  text-decoration: none;
  &:hover {
    color: #1abc9c;
  }
}
.resume__boat {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0px;
    padding: 8px 0px;
}
.boat__counter {
  display: flex;
    align-items: center;
}
.badge {

  align-items: center;
  display: flex;
  justify-content: center;

  background-color: #1abc9c;
  color: #FFF;

  border-radius: 9999px;
  height: 32px;
  width: 32px;
  margin: 0 1rem 0 0;
}
