<div class="boat__counter"><span class="badge">{{counter$ | async}}</span> Bateaux à louer</div>
<app-boat-filter (goFilter)="updateFilter($event)"></app-boat-filter>
<app-boat-list [boats]="(filteredBoats$ | async)??[]"></app-boat-list>
